@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.PaginationDiv {
  @apply md:text-white md:text-base text-sm list-none flex md:gap-6  gap-4 text-red-400 md:pt-0 pt-5 pb-5 bg-black justify-center  items-center
} 

.PageButtonNumber:hover {
  @apply bg-gray-700  transition duration-200
} 
 .PageButtonNumber{
  @apply transition duration-200 rounded-full w-[30px] h-[30px] place-items-center md:h-10 md:w-10 sm:w-6 sm:h-6
} 
.SelectedPageButton {
  @apply rounded-full bg-gray-600 w-[30px] h-[30px] transition duration-200
} 
.SelectedPageButton:hover {
  @apply bg-gray-800 transition duration-200 ease-in
} 


.NavItem {
  @apply md:text-xl border p-2 h-[50px] mt-5 rounded-sm font-bold text-blue-600 hover:bg-blue-100 transition ease-in-out hover:translate-y-1 duration-300 hover:scale-[105%]
}

.ImageNav {
  @apply w-[80px] h-[80px] sm:flex md:hidden 
  
}

main{
  @apply text-white
}

.indeterminate-progress-bar {
  /* Color */
  background-color: #d1d5db;

  /* Rounded border */
  border-radius: 9999px;

  /* Size */
  height: 0.5rem;
  z-index: 9999;
  position: relative;
  overflow:auto;
}

.indeterminate-progress-bar__progress {
  /* Color */
  background-color: #3b82f6;

  /* Rounded border */
  border-radius: 9999px;

  /* Absolute position */
  position: absolute;
  bottom: 0;
  top: 0;
  width: 50%;

  /* Move the bar infinitely */
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: indeterminate-progress-bar;
}

@keyframes indeterminate-progress-bar {
  from {
      left: -50%;
  }
  to {
      left: 100%;
  }
}

.skeleton {
  animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 80%);
  }
  100% {
    background-color: hsl(200, 20%, 95%);
  }
}