@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.PaginationDiv {
  @apply gap-2 text-center flex relative z-10 bg-green-600 w-[50%] ml-[25%] md:h-[6vh] justify-evenly border-2 border-white
}

.NavItem {
  @apply md:text-xl border p-2 h-[50px] mt-5 rounded-sm font-bold text-blue-600 hover:bg-blue-100 transition ease-in-out hover:translate-y-1 duration-300 hover:scale-[105%]
}

.ImageNav {
  @apply w-[80px] h-[80px] sm:flex md:hidden
  
}

main{
  @apply text-white
}